<section>
    <div>
        <table>
            <tr>
                <th>ID </th>
                <th>Amount </th>
                <th>Balance </th>
                <th>Label </th>
                <th>Date </th>
            </tr>
            <tr >
                    <td>{{ transactions[0] }}</td>
                    <td>{{ transactions[1] }}</td>
                    <td>{{ transactions[2] }}</td>
                    <td>{{ transactions[3] }}</td>
                    <td>{{ transactions[4] }}</td>
                   
            </tr>
        </table>
    </div>
</section>