<section>
    <div>
        <div>Calculatrice</div>
        <br>
        <div>Insérez 2 nombres, sélectionnez l'opération puis cliquez sur Calculer.</div>
        <form  (ngSubmit)="submitApplication()">
            <div class="Calculatrice">
                <input type="number" [(ngModel)]="value1" name="value1">

                <select type="select" [(ngModel)]="operator" name="operator">
                    <option value="add">+</option>
                    <option value="minus">-</option>
                    <option value="multiply">x</option>
                    <option value="divide">:</option>
                </select>
    
                <input type="number" [(ngModel)]="value2" name="value2">    
            </div>
            <br>
            
            <button>Calculer</button>
        </form>
        <br><br>
    </div>

    <div>
        Résultats
    </div>
    <div>{{resultat}}</div>
    <br><br>
    <div>
        <div>Historique</div>
        <table>  
            <tr>
                <th>Date</th>
                <th>Opération</th>
                <th>Résultat</th>
                <th>Suppression</th>
            </tr>
            <tr *ngFor="let result of results">
                <td>{{ result[0] | date: 'h:mm' : 'UTC+1' }}</td>
                <td>{{ result[1] }} {{ result[2] }} {{ result[3] }}</td>
                <td>{{ result[4] }}</td>
                <td><button (click)="DeleteLine( result[5] )">Effacer</button></td>
            </tr>
        </table>
    </div>
</section>